<p id="notice"><%= notice %></p>

<p>
  <strong>Arrival:</strong>
  <%= @checkpoint.arrival %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @checkpoint.departure %>
</p>

<p>
  <strong>Date:</strong>
  <%= @checkpoint.date %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @checkpoint.barcode %>
</p>

<%= link_to 'Edit', edit_checkpoint_path(@checkpoint) %> |
<%= link_to 'Back', checkpoints_path %>
